[Unit]
Description=Alexandrie Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/alexandrie
ExecStart=/usr/bin/docker compose --project-name alexandrie --env-file /opt/alexandrie/.env --file /opt/alexandrie/compose.yaml up -d --remove-orphans
ExecStop=/usr/bin/docker compose --project-name alexandrie --env-file /opt/alexandrie/.env --file /opt/alexandrie/compose.yaml down
TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
